
# Ignore vscode things
.vscode/*
!.vscode/launch.json
!.vscode/c_cpp_properties.json

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix  

*.DS_Store

# Executable 
hidden
game.*
!game.cpp
!game.h

# 
build/
Makefile
*.xcodeproj/
*.xcworkspace/
*.pbxproj
*.xcworkspacedata
xcuserdata/
xcshareddata/