
# Ignore vscode things
.vscode/

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix  

*.DS_Store

# Executable 
hidden.*
game.*
!game.cpp
!game.h

# 
build/
Makefile
